@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body {
	margin: 0;
	background: #05041f;
}

.logocontainer {
	background: #05041f;
	position: fixed;
	width: 100%;
	z-index: 90;
}

@media (min-width: 992px) {
	.logocontainer {
		padding: 0 60px;
	}
}

.logocontainer img.logo {
	width: 160px !important;
	height: 30px !important;
	margin: 20px 0;
}

@media (max-width: 991px) {
	.logocontainer img.logo {
		width: 107px !important;
		height: 20px !important;
		margin: 15px;
	}
	.logocontainer img.logosite {
		margin: 15px 30px;
	}
	.centremobile {
		text-align: center;
	}
}

.clear {
	clear: both;
}

.gap5 {
	height: 5px;
}

.gap6 {
	height: 6px;
}

.gap7 {
	height: 7px;
}

.gap8 {
	height: 8px;
}

.gap9 {
	height: 9px;
}

.gap10 {
	height: 10px;
}

.gap15 {
	height: 15px;
}

.gap20 {
	height: 20px;
}

.gap25 {
	height: 25px;
}

.gap30 {
	height: 30px;
}

.gap40 {
	height: 40px;
}

.gap50 {
	height: 50px;
}

.gap60 {
	height: 60px;
}

.gap70 {
	height: 70px;
}

.gap80 {
	height: 80px;
}

.gap90 {
	height: 90px;
}

.gap100 {
	height: 100px;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100% !important;
	height: 100% !important;
	background: #120d31;
	z-index: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
	-webkit-transform: translate3d(0,0,0);
}

.overlaydark {
	position: absolute;
	left: 0;
	top: 0;
	width: 100% !important;
	height: 100% !important;
	background: #120d31;
	z-index: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	-webkit-transform: translate3d(0,0,0);
}

@media (min-width: 992px) and (max-width: 1399px) {
	.hidden-mds {
		display: none !important;
	}
}

@media (min-width: 1400px) {
	.hidden-lgs {
		display: none !important;
	}
}

@media (min-width: 992px) {
	.hidden-md {
		display: none !important;
	}
	.hidden-lg {
		display: none !important;
	}
}

@media (max-width: 991px) {
	.hidden-xs {
		display: none !important;
	}
	.hidden-sm {
		display: none !important;
	}
}

a {
	text-decoration: none !important;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

a:hover {
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1490px;
	}
}

.col-xs-12 {
	width: 100%;
}

.col-xs-12 > div {
	padding: 0 15px;
}

a.contentbutton {
	position: relative;
	color: #120d31;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	background: #12f79e;
	padding: 10px 80px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

a.contentbutton i {
	position: absolute;
	right: 70px;
	top: 11px;
	opacity: 0;
}

@media (max-width: 575px) {
	a.contentbutton {
		padding: 10px 50px;
	}
	a.contentbutton i {
		display: none;
	}
}

a.blankcontentbutton {
	position: relative;
	color: #fff;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	padding: 10px 80px 10px 0;
}

a.blankcontentbutton i {
	position: absolute;
	right: 70px;
	top: 11px;
	opacity: 0;
}

@media (max-width: 991px) {
	a.blankcontentbutton {
		padding: 10px 0;
	}
}

@media (max-width: 575px) {
	a.blankcontentbutton i {
		display: none;
	}
}

/* Navigation Start  */

#menucontainer {
	width: 100%;
}

#menuinnercontainer {
	float: right;
	width: calc(100% - 200px);
}

#menuinnercontainer button {
	position: absolute;
	right: 15px;
	top: 5px;
	outline: none !important;
}

.navbar-toggler-icon {
	background: none !important;
}

.offcanvas-header {
	outline: none !important;
}

.btn-close {
	background: none !important;
	border: none !important;
	outline: none !important;
	right: 20px !important;
	top: 30px !important;
}

@media (min-width: 992px) {
	#menuinnercontainer {
		float: right;
		width: calc(100% - 200px);
	}
	.navbar {
		float: right;
		margin-top: 25px;
	}
	a.nav-link {
		color: #fff !important;
		font-size: 12px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		padding: 0 !important;
		margin: 0 0 0 40px !important;
	}
	a.nav-link:hover {
		color: #ff0f8c !important;
	}
}

@media (max-width: 991px) {
	a.nav-link {
		color: #fff !important;
		font-size: 22px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		padding: 0 !important;
		margin: 30px 0 !important;
		text-align: center !important;
	}
	a.nav-link:hover {
		color: #ff0f8c !important;
	}
}

.navbar {
	padding: 0 !important;
}

.offcanvas-header {
	display: none;
}

@media (max-width: 991px) {
	body.offcanvas-active {
		overflow: hidden;
	}
	.navbar-toggler {
		float: right;
	}
	.offcanvas-header {
		display: block;
	}
	.navbar-collapse {
		position: fixed;
		top: 0; 
		bottom: 0;
		right: 100%;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		overflow-y: auto;
		visibility: hidden;
		background-color: #02021c;
		background-position: center bottom;
		background-repeat: no-repeat;
		transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
	}
	.navbar-collapse.show {
		visibility: visible;
		transform: translateX(100%);
	}
}

/* Navigation End  */

/* Masthead Start  */

#masthead {
	position: relative;
	height: 100vh;
	min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
	justify-content: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#masthead h1 {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

@media (min-width: 992px) {
	#masthead h1 {
		font-size: 56px;
		line-height: 68px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#masthead h1 {
		font-size: 44px;
		line-height: 54px;
	}
}

@media (max-width: 767px) {
	#masthead h1 {
		font-size: 32px;
		line-height: 39px;
	}
}

#masthead p {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

@media (min-width: 992px) {
	#masthead p {
		font-size: 22px;
		line-height: 30px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#masthead p {
		font-size: 20px;
		line-height: 27px;
	}
}

@media (max-width: 767px) {
	#masthead p {
		font-size: 18px;
		line-height: 24px;
	}
}

a.mastheadbutton {
	position: relative;
	color: #120d31;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	background: #12f79e;
	padding: 10px 80px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

a.mastheadbutton i {
	position: absolute;
	right: 40px;
	top: 0;
	opacity: 0;
}

#mastheadgames {
	position: absolute;
	bottom: 50px;
	width: 100%;
	height: 150px;
	overflow: hidden !important;
}

@media (max-width: 767px) {
	#mastheadgames {
		bottom: 0;
	}
}

.mastheadgame {
	display: inline-block;
	margin: 0;
}

/* Masthead End  */

/* Careerstrip Start  */

#careerstrip {
	position: relative;
	padding: 60px 0;
}

#careerstrip h2 {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

@media (min-width: 992px) {
	#careerstrip h2 {
		font-size: 44px;
		line-height: 54px;
	}
}

@media (min-width: 1200px) {
	.ggtext {
		padding-left: 80px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#careerstrip h2 {
		font-size: 38px;
		line-height: 46px;
	}
}

@media (max-width: 767px) {
	#careerstrip h2 {
		font-size: 32px;
		line-height: 39px;
	}
}

#careerstrip p {
	color: #bfbfc6;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

@media (min-width: 992px) {
	#careerstrip p {
		font-size: 20px;
		line-height: 34px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#careerstrip p {
		font-size: 18px;
		line-height: 28px;
	}
}

@media (max-width: 767px) {
	#careerstrip p {
		font-size: 16px;
		line-height: 22px;
	}
}

.abs70wide {
	position: absolute;
	top: 0;
	right: 15px;
	width: 70%;
	height: 100%;
}

/* Careerstrip End  */

/* Fanstrip Start  */

#fanstrip .row {
	position: relative;
	margin-left: 0;
	margin-right: 0; 
}

#fanstrip h2 {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

@media (min-width: 992px) {
	#fanstrip h2 {
		font-size: 44px;
		line-height: 54px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#fanstrip h2 {
		font-size: 38px;
		line-height: 46px;
	}
}

@media (max-width: 767px) {
	#fanstrip h2 {
		font-size: 32px;
		line-height: 39px;
	}
}

#fanstrip p {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

@media (min-width: 992px) {
	#fanstrip p {
		font-size: 20px;
		line-height: 34px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#fanstrip p {
		font-size: 18px;
		line-height: 28px;
	}
}

@media (max-width: 767px) {
	#fanstrip p {
		color: #bfbfc6;
		font-size: 16px;
		line-height: 22px;
	}
}

/* Fanstrip End  */

/* Biggamestrip Start  */

#biggamestrip {
	position: relative;
}

#biggamestrip h2 {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

@media (min-width: 992px) {
	#biggamestrip h2 {
		font-size: 44px;
		line-height: 54px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#biggamestrip h2 {
		font-size: 38px;
		line-height: 46px;
	}
}

@media (max-width: 767px) {
	#biggamestrip h2 {
		font-size: 32px;
		line-height: 39px;
	}
}

#biggamestrip p {
	color: #bfbfc6;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

@media (min-width: 992px) {
	#biggamestrip p {
		font-size: 20px;
		line-height: 34px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#biggamestrip p {
		font-size: 18px;
		line-height: 28px;
	}
}

@media (max-width: 767px) {
	#biggamestrip p {
		font-size: 16px;
		line-height: 22px;
	}
}

.abs50wide {
	position: absolute;
	top: 60px;
	right: 60px;
	width: 50%;
	height: 80%;
}

@media (min-width: 1200px) and (max-width: 1399px) {
	.abs50wide {
		position: absolute;
		top: 100px;
		right: 50px;
		width: 55%;
		height: 70%;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.abs50wide {
		position: absolute;
		top: 200px;
		right: 40px;
		width: 60%;
		height: 60%;
	}
}

/* Biggamestrip End  */

/* Appstrip Start  */

#appstrip .row {
	position: relative;
	margin-left: 0;
	margin-right: 0;
	background-size: 100% 95% !important;
}

@media (max-width: 1199px) {
	#appstrip .row {
		background-size: 100% 90% !important;
	}
}

#appstrip h2 {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

@media (min-width: 1200px) {
	.apptext {
		padding-left: 160px;
	}
}

@media (min-width: 992px) {
	#appstrip h2 {
		font-size: 44px;
		line-height: 54px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#appstrip h2 {
		font-size: 38px;
		line-height: 46px;
	}
}

@media (max-width: 767px) {
	#appstrip h2 {
		font-size: 32px;
		line-height: 39px;
	}
}

#appstrip p {
	color: #bfbfc6;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

@media (min-width: 992px) {
	#appstrip p {
		font-size: 20px;
		line-height: 34px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#appstrip p {
		font-size: 18px;
		line-height: 28px;
	}
}

@media (max-width: 767px) {
	#appstrip p {
		font-size: 16px;
		line-height: 22px;
	}
}

#statappcontainer {
	background: #020106;
}

#appgames {
	overflow: hidden !important;
}

.appgame {
	display: inline-block;
	margin: 0;
}

/* Appstrip End  */

/* Statsstrip Start  */

#statsstrip {
	position: relative;
}

@media (max-width: 991px) {
	#statsstrip {
		background: none !important;
	}
	.statsmobile {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

#statsstrip h2 {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

@media (min-width: 992px) {
	#statsstrip h2 {
		font-size: 44px;
		line-height: 54px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#statsstrip h2 {
		font-size: 38px;
		line-height: 46px;
	}
}

@media (max-width: 767px) {
	#statsstrip h2 {
		font-size: 32px;
		line-height: 39px;
	}
}

#statsstrip p {
	color: #bfbfc6;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

@media (min-width: 992px) {
	#statsstrip p {
		font-size: 20px;
		line-height: 34px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#statsstrip p {
		font-size: 18px;
		line-height: 28px;
	}
}

@media (max-width: 767px) {
	#statsstrip p {
		font-size: 16px;
		line-height: 22px;
	}
}

/* Statsstrip End  */

#footer {
	height: 200px;
	background: #03021b;
}